{% load static %}
{% load i18n %}


<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
</head>
<body>
    <header>
            <form action="{% url 'set_language' %}" method="post">{% csrf_token %}
                <input name="next" type="hidden" value="{{ redirect_to }}">
            <select name="language">
                {% get_current_language as LANGUAGE_CODE %}
                {% get_available_languages as LANGUAGES %}
                {% get_language_info_list for LANGUAGES as languages %}{% for language in languages %}
            <option value="{{ language.code }}"{% if language.code == LANGUAGE_CODE %}
            selected{% endif %}>
                {{ language.name_local }} ({{ language.code }})
            </option>
                {% endfor %}
            </select>
            <input type="submit" value="Go">
            </form>
            {% for i in news %}
                <h1>{{ i.title }}</h1>
                <p>{{ i.text }}</p>
            {% endfor %}
    </header>

        <a href="{% url 'index' %}"><button>Home Page</button></a>
        {% if user.is_authenticated %}
            <a href="{% url 'logout' %}"><button>Logout {{ user.username }}</button></a>
            <a href="{% url 'userpage' %}"><button>UserPage</button></a>
        {% else %}
            <a href="{% url 'login' %}"><button>Login Page</button></a>
            <a href="{% url 'register' %}"><button>Register Page</button></a>
        {% endif %}
    {% block content %}{% endblock %}

</body>

<footer>
    <h3>{% trans 'Best Store' %}</h3>
</footer>
</html>